<form action="/cart" method="post" class="inline">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button type="submit" class="rounded-md bg-sky-600 px-4 py-2 text-white hover:bg-sky-700">افزودن به سبد</button>
  <input type="hidden" name="productId" value="<%= product._id %>">
</form>
