<%- include('./includes/head.ejs') %> <%- include('./includes/heading.ejs') %>
<%- include('./includes/navigation.ejs') %>
<div class="container">
    <h1>خطای 500</h1>

    <hr>

    <h2>در ارتباط با دیتابیس مشکلی ایجاد شد</h2>

</div>


<%- include('./includes/end.ejs') %>